#login-page {
  background: #8b8a8c;
  background: url("/assets/images/login-bg.png") center/cover no-repeat;

  .login-box {
    min-height: 600px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    h1 {
      color: var(--color-purple-900, #0a376e);
      font: 700 40px Alegreya;
      margin: 42px 0;
      text-transform: uppercase;
    }

    .text-box {
      margin-bottom: 18px;

      label {
        color: #333;
        font: 700 15px Noto Sans SC;
        line-height: 40px;
      }

      input[type="text"],
      input[type="password"] {
        width: 342px;
        max-width: 100%;
        height: 38px;
        border-radius: 20px;
        border: 1px solid #bcbcbc;
        background: #fff;
      }
    }

    .checkbox-box {
      label {
        color: #333;
        font: 500 15px Montserrat;
      }
    }

    a {
      color: #333;
      font: 500 15px Montserrat;
      text-decoration-line: underline;
    }
  }
}

.primory-button {
  border-radius: 50px;
  background: var(--color-purple-500, #1473e6);
  min-width: 123px;
  height: 41px;
  padding: 0px 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  transition: 0.3s;
  &:hover {
    background: var(--color-purple-800, rgb(107 33 168));
  }
}
