#login-page {
  background-image: url("/assets/images/login-bg.png") cover;

  .login-box {
    max-width: 508px;
    min-height: 621px;
    border-radius: 50px;
    background: #fff;
    padding: 0 30px;
    padding-bottom: 42px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    h1 {
      color: var(--color-purple-900, #0a376e);
      font-family: Alegreya;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      margin-top: 42px;
    }
  }
}
