<!-- <div>
  <!-- Label for Input -->
  <label for="{{ field.name }}" [innerHTML]="field.label"></label>
  <!-- Input Field with Validation and Error Display -->
  <input
    [class.validation-error]="isInvalidInput(field.name)"
    formControlName="{{ field.name }}"
    class="w-[342px] sm:w-full"
    type="{{ field.type }}"
    id="{{ field.name }}"
    name="{{ field.name }}"
  />
</div> -->

<div
  class="text-box w-full flex justify-between md:flex-row flex-col"
  [ngClass]="{ 'has-error': hasError }"
>
  <label>{{ title }}</label>
  <input
    type="{{ showPassword ? 'text' : type }}"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngStyle]="{ width: width, height: height, border: isBorder ? '1px solid #ccc' : 'none' }"
    [(ngModel)]="innerValue"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    class="w-[342px] sm:w-full"
  />
  <div *ngIf="hasError" class="error-message">
    <!-- Display error messages here -->
    <ng-content></ng-content>
  </div>
</div>
