@import "fonts";

@mixin background {
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0.75rem center;
}

.side-bar {
  &__font {
    font-family: 'Alegreya', sans-serif;
  }

  &__dashboard {
    @include background;
    background-image: url("/assets/images/icon-dashboard.svg");
  }

  &__charts {
    @include background;
    background-image: url("/assets/images/icon-chart.svg");
  }

  &__history {
    @include background;
    background-image: url("/assets/images/icon-history.svg");
  }

  &__user {
    @include background;
    background-image: url("/assets/images/icon-user.svg");
  }

  &__settings {
    @include background;
    background-image: url("/assets/images/icon-settings.svg");
  }

  &__logout {
    @include background;
    background-image: url("/assets/images/icon-logout.svg");
  }
}
