<div class="box-border w-[246px] h-screen py-5 px-3.5 border-r-2">
  <div class="mb-14">
    <img src="assets/images/Logo2-2.svg" />
    <p class="text-sky-900 text-opacity-90 text-2xl font-bold side-bar__font">Branch Su Van Hanh</p>
  </div>
  <ul class="flex-col w-full px-9 justify-start items-start gap-4 inline-flex">
    <li
      class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__dashboard"
    >
      <a class="text-blue-900 text-lg font-normal side-bar__font">Dashboard</a>
    </li>
    <li class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__charts">
      <a class="text-blue-900 text-lg font-normal side-bar__font">Charts</a>
    </li>
    <li class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__history">
      <a class="text-blue-900 text-lg font-normal side-bar__font">History</a>
    </li>
    <li class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__user">
      <a class="text-blue-900 text-lg font-normal side-bar__font">Users</a>
    </li>
    <li class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__settings">
      <a class="text-blue-900 text-lg font-normal side-bar__font">Settings</a>
    </li>
    <li class="w-full py-1.5 pl-12 hover:bg-blue-100 rounded-3xl cursor-pointer side-bar__logout">
      <a class="text-blue-900 text-lg font-normal side-bar__font">Log Out</a>
    </li>
  </ul>
</div>
