<div class="flex h-full m-auto max-w-[1440px]">
  <app-side-bar *ngIf="isSidebarShowing"></app-side-bar>
  <button
    (click)="toggleSidebar()"
    class="focus:outline-none relative top-9 right-3 h-6 w-6 rounded-full bg-white hidden md:block"
  >
    <mat-icon *ngIf="isSidebarShowing" class="filter-button">chevron_left </mat-icon>
    <mat-icon *ngIf="!isSidebarShowing" class="filter-button">chevron_right </mat-icon>
  </button>
  <div class="flex flex-col w-full overflow-x-scroll overflow mx-2">
    <app-header></app-header>
    <ng-content></ng-content>
  </div>
</div>
